img{
    width:100%;
}

.three_column{
display: grid;
grid-template-columns : 1fr 1fr 1fr ;
gap:30px;
}

img{
    width:100%;
}

.three_column{
display: grid;
grid-template-columns : 1fr 1fr 1fr ;
gap:30px;
}


.two_column{
display: grid;
grid-template-columns: 1fr 1fr ;
gap:30px;
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 20px 0;
}