{% extends 'layout.html' %}
{% block content %}


<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

    
<div class="w3-container w3-light-grey">
    <div class="w3-cursive">
    <h1>2024NBA</h1>
    <p><b>Welcome to the 2024 NBA page.</p>
    <p>View next pages.</b></p>
    <img src="/static/images/NBA.png" alt="/static/images/2k.webp" width="200" height="750"> 
</div>
</div>
    
        
{% endblock %}