{% extends 'layout.html' %}
{% block content %}

<div class="two_column">
  <div class="w3-card-4">
      <img src="{{ url_for('static', filename='/images/'+ player[8]) }}" alt="{{player[8]}}"></a>
          <p>{{player[1]}} {{player[2]}}</p>
    
       
 
  </div>
  <div>
    <ul class="w3-ul w3-card-4" style="width:50%">
      <li><h1>Player information</h1></li>
      <li>Height:  {{player[3]}}</li>
      <li>Age: {{player[4]}}</li>
      <li>Jersey Number: {{player[6]}}</li>
      <li>Position:  {{player[15]}}</li>
      <li>Team:  {{player[12]}}</li>
    </ul>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{player[10]}}" 
    title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; 
    gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    

  </div>
</div>


{% endblock %}